:root {
  /* Background */
  --bg-light: #FFFFFF;
  --bg-dark: #F3F4F6;
  --bg-blue: #1E40AF;

  /* Border */
  --border: #E5E7EB;
  --border-grey: #E5E7EB;

  /* Text */
  --text-grey: #6B7280;
  --text-grey-light: #9CA3AF;
  --text-grey-dark: #1F2937;

  /* Success (Green) */
  --success-light: #F7FEE7;
  --success-dark: #65A30D;

  /* Error (Red) */
  --error-light: #FEF2F2;
  --error-dark: #DC2626;

  /* Warning (Orange) */
  --warning-light: #FFFBEB;
  --warning-dark: #D97706;

  /* Info (Grey) */
  --info-light: #F3F4F6;
  --info-dark: #6B7280;


  /* ========================= Color Palette ========================= */

  /* Grey */
  --white: #FFFFFF;
  --black: #000000;
  --grey-50: #F9FAFB;
  --grey-100: #F3F4F6;
  --grey-200: #E5E7EB;
  --grey-300: #D1D5DB;
  --grey-400: #9CA3AF;
  --grey-500: #6B7280;
  --grey-600: #4B5563;
  --grey-800: #1F2937;

  /* Blue */
  --blue-50: #EFF6FF;
  --blue-100: #DBEAFE;
  --blue-200: #BFDBFE;
  --blue-400: #60A5FA;
  --blue-500: #3B82F6;
  --blue-600: #2563EB;
  --blue-800: #1E40AF;
  --blue-900: #1E3A8A;
  --blue-950: #172554;

  /* Indigo */
  --indigo-50: #EEF2FF;
  --indigo-100: #E0E7FF;
  --indigo-200: #C7D2FE;
  --indigo-400: #A5B4FC;
  --indigo-500: #6366F1;
  --indigo-600: #4F46E5;
  --indigo-800: #3730A3;
  --indigo-900: #312E81;
  --indigo-950: #1E1B4B;
}
